.testimonials__container {
  padding: 126px 0 120px 0;
  &--border {
    max-width: 955px;
    height: 349px;
    border: 1px solid #212121;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &--name {
    opacity: 0.9;
    color: #212121;
    font-family: $font-asap;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &--company {
    opacity: 0.9;
    color: #212121;
    font-family: $font-asap;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 20px ;
  }
  &--text {
    max-width: 569px;
    height: 93px;
    opacity: 0.6;
    color: #212121;
    font: 400 16px/26px $font-asap;
    text-transform: uppercase;
  }
  &--img {
    max-width: 159px;
    height: 159px;
    margin: 0 31px;
  }
  &--cube {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }
  &--cube-1 {
    margin-bottom: 56px;
  }

}